.productList {
  display: flex;
  flex-direction: column;
  align-items: center;
  .ant-table-tbody > tr:hover > td {
    background-color: rgb(218, 250, 250);
  }
  .ant-table-pagination.ant-pagination {
    margin-top: 90px;
    margin-bottom: 0;
  }
}
